body {
  font-family: Hiragino maru Gothic pro;
}

.report {
	margin: 16px auto;
	text-align: center;
	display: block;
}

.report .text {
	text-align: left;
	display: inline-block;
}

.image {
  margin:  10px auto;
  text-align: center;
  display: block;
}

 /* .image .photo {
  text-align: left;
  display: inline-block;
}*/

.movie {
  margin: 10px auto;
  text-align: center;
  display: block;
}

.imgbox1{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 5px;
  row-gap: 5px;
  margin: 10px;
}
.wrap{
  display: flex;
  justify-content: center;
}

.flexcontainer{
  display: flex;
  justify-content: space-around;
}

.frame img {
border-radius: 10px;
}
